<a href="/admin/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form action="/admin/add-post" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title">

  <label for="meta_description"><b>Meta Description</b></label>
  <input type="text" placeholder="Post description" name="meta_description" value="To be defined">

  <label for="meta_keywords"><b>Keywords in Hashtags</b></label>
  <input type="text" placeholder="Post keywords" name="meta_keywords" value="To be defined">

  <input type="hidden" name="meta_og_image" value="https://www.destruti.com/img/posts/laptop-rosa-1200.jpg">
  <input type="hidden" name="linkedin_post" value="To be defined">
  <input type="hidden" name="post_active" value="0">

  <input type="submit" value="Add" class="btn">

  <br/>
  <br/>
  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="50">To be defined</textarea>

 
</form>