<a href="/admin/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form action="/admin/add-post" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title">

  <label for="meta_description"><b>Meta Description</b></label>
  <input type="text" placeholder="Post description" name="meta_description" value="">

  <label for="meta_og_image"><b>Meta Image with 1200 x 630</b></label>
  <input type="text" placeholder="Post IMAGE" name="meta_og_image" value="">

  <label for="meta_keywords"><b>Keywords in Hashtags</b></label>
  <input type="text" placeholder="Post keywords" name="meta_keywords" value="">

  <input type="submit" value="Add" class="btn">

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="50"></textarea>

 
</form>