<header class="header">

  <a href="/admin/dashboard" class="header__logo">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/admin/dashboard" class="">Dashboard</a>
      </li>
      <li>
        <a href="/admin/add-post" class="">New Post</a>
      </li>
      <li>
        <a href="/logout" class="">Logout</a>
      </li>
    </ul>

  </nav>

</header>