<header class="header">

    <a href="/" class="header__logo"></a>

    <nav class="header__nav">
        <ul>
            <li><a href="/" class="">Home</a></li>
            <li><a href="/about" class="">About</a></li>
            <li><a href="/courses" class="">Courses</a></li>
            <li><a href="/posts" class="">Posts</a></li>
            <li><a href="https://github.com/destruti" target="_blank" class="hidden-mobile">Github</a></li>
            <li><a href="https://www.linkedin.com/in/eduardodestruti/" target="_blank" class="hidden-mobile">LinkedIn</a></li>
            <li><a href="mailto:limaedu@gmail.com?subject=From Website Destruti.com" class="hidden-mobile">Contact</a></li>
        </ul>
    </nav>

    <!-- <div class="header__button">
        <form action="/search" method="POST" class="search__form" role="search">
            <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="search!">
        </form>
    </div> -->

</header>