<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reflecting on Key Takeaways and Lessons Learned from My Two Decades in the Tech Industry</title>

    <!-- Meta Description Padrão -->
    <meta name="description" content="Discover the lessons learned and key takeaways from nearly 20 years in the tech industry, covering leadership, collaboration, scalability, and more.">

    <!-- Meta Tags Open Graph -->
    <meta property="og:title" content="Reflecting on Key Takeaways and Lessons Learned from My Two Decades in the Tech Industry">
    <meta property="og:description" content="Key lessons from nearly 20 years in the tech world: continuous learning, building strong teams, embracing failure, scalability, communication, and agility.">
    <meta property="og:image" content="https://example.com/images/post-lessons-learned-tech.jpg">
    <meta property="og:url" content="https://seublog.com/post-lessons-learned-tech">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Your Tech Blog">

    <!-- Meta Tags para Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Reflecting on Two Decades in Tech: Key Lessons Learned">
    <meta name="twitter:description" content="From collaboration to resilience, here are the lessons that shaped my career over 20 years in the tech industry.">
    <meta name="twitter:image" content="https://example.com/images/post-lessons-learned-tech.jpg">
    <meta name="twitter:site" content="@limaedu">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>

</head>
<body>

    <div class="container">
        <%- include('../partials/header.ejs') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

</body>
</html>
