
<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1>About</h1>

            <p>
                With nearly 20 years of experience in technology, I have developed a strong expertise in both leadership and hands-on technical roles, with a deep focus on software development, system integration, and team management. My career spans a wide range of industries, from startups to large organizations, where I've led cross-functional teams to deliver innovative solutions and drive business success.
                <br/><br/>
                I have extensive experience in PHP, Python, Node.js, SQL, and Linux, and a proven track record in building and optimizing platforms, managing cloud resources (AWS), and driving process improvements through agile methodologies. My technical leadership has empowered teams to achieve high conversion rates, improve operational efficiency, and ensure the timely delivery of high-quality products.
                <br/><br/>
                In addition to my technical expertise, I have a passion for mentoring and developing teams, fostering collaboration, and providing strategic direction for technology initiatives. I have led projects across Latin America, implementing fundraising platforms, enhancing internal social networks, and integrating complex systems.                    
            </p>

        </div>

        <div class="col-md-12">

            <h1>Works</h1>

            <h3>APP Bluma :: <small>Technical Lead<br/>Jun 2024 - Present (Remote Orlando, Florida, United States)</small></h2>
            <p>
                Leading a squad of 10 developers (mobile, frontend, backend, QA) to deliver solutions using Node.js, AWS (Lambda), MongoDB, and PostgreSQL. Responsible for aligning technology with business needs, optimizing workflows, mentoring team members, and ensuring timely, high-quality deliveries.
                <br/>
                <i style="font-size:12px;">
                    Skills:
                    Team Development · Software Development Life Cycle (SDLC) · Backend Development · Process Optimization · AWS Lambda · Tech Leadership
                    <br/>
                    <strong>
                    Bolean Search:
                    ("Technical Lead" OR "Tech Lead") AND ("Node.js" OR "AWS Lambda" OR "MongoDB" OR "PostgreSQL" OR "Software Development Life Cycle" OR "SDLC" OR "Backend Development" OR "Process Optimization" OR "Tech Leadership")
                    </strong>
                </i>
            </p>
            <br/>

            <h3>Experian :: <small>Technical Manager<br/>Apr 2022 - Apr 2024 - 2 yrs 1 mo (Hybrid São Paulo, Brasil)</small></h2>
            <p>
                Led multidisciplinary teams (30+ members) to deliver score implementation projects for major Brazilian market players. Managed software factories, optimized AWS cloud costs, resolved cross-department conflicts, and coordinated on-premise to cloud migrations, ensuring seamless transitions and high-quality results. Supported audits and incident resolution to enhance client trust and satisfaction.
                <br/>
                <i style="font-size:12px;">
                    Skills:
                    Cloud Migration · Agile Methodologies · Software Project Management · AWS Optimization · Team Management
                    <br/>
                    <strong>
                    Bolean Search:
                    ("Technical Manager" OR "Tech Management") AND ("Software Project" OR "Cloud Migration" OR "Agile Methodologies" OR "AWS Optimization" OR "AWS cloud costs" OR "cross-department conflicts" OR "on-premise to cloud migrations")
                    </strong>
                </i>
            </p>
            <br/>


            <h3>FIA Business School :: <small>Senior Software Engineer<br/>Dec 2019 to Mar 2022 · 2 yrs 4 mo (Hybrid São Paulo, Brasil)</small></h2>
            <p>
                Implemented systems using PHP, Linux, and MySQL while aligning technology strategies with FIA's goals. Recruited, trained, and led a high-performing team in a collaborative environment. Managed projects efficiently, delivering high-quality solutions on time and within budget, and resolved complex technical challenges.
                <br/>
                <i style="font-size:12px;">
                    Skills:
                    Team Leadership · MySQL · Backend Development · PHP Applications · Database Management System (DBMS) · Linux System Administration
                    <br/>
                    <strong>
                    Bolean Search:
                    ("Backend Development" OR "PHP Applications" OR "Database Management System" OR "Team Leadership" OR "High-performing team" OR "Technical Challenges")
                    </strong>
                </i>
            </p>
            <br/>


            <h3>Máquina do Bem :: <small>CTO<br/>Mar 2014 to Nov 2019 · 5 yrs 9 mo (São Paulo, Brasil)</small></h2>
            <p>
                Led technological innovation and strategic development of a social impact marketplace. Aligned technology strategies with business goals, enhanced platform capabilities through API payment integrations, and optimized user experience. Focused on results-driven solutions to deliver value to customers and stakeholders.
                The startup was acquired by the NGO Visão Mundial, and its operations were integrated. At its peak, the startup had over 30 employees.
                <br/>
                <i style="font-size:12px;">
                    Skills:
                    Software Development Life Cycle (SDLC) · Technology Leadership · C-Level Relationships · Strategic Innovation · CTO Leadership · Back-End Web Development
                    <br/>
                    <strong>
                    Bolean Search:
                    ("Strategic development" OR "Technology Leadership" OR "CTO Leadership" OR "Back-End Web Development" OR "social impact" OR "API integrations")
                    </strong>
                </i>
            </p>
            <br/>


            <h3>World Vision :: <small>IT Manager<br/>Jan 2016 to Sep 2019 · 3 yrs 9 mo (São Paulo, Brasil)</small></h2>
            <p>
                As IT Manager at World Vision, I led teams across Latin America to build multiple fundraising platforms for various projects. My responsibilities spanned countries such as Colombia, Costa Rica, Panama, and Mexico, where we developed and implemented digital marketing strategies, ESG initiatives, and LGPD compliance for each project.
                <br/>
                <i style="font-size:12px;">
                    Skills:
                    Team Leadership · Digital Marketing · PHP Applications · Database Management System (DBMS) · Fundraising Campaign Management
                    <br/>
                    <strong>
                    Bolean Search:
                    ("IT Manager" OR "Team Leadership" OR "Fundraising Campaign Management" OR "PHP Applications" OR "Latin America" OR "Fundraising platforms" OR "Digital marketing strategies")
                    </strong>
                </i>
            </p>
            <br/>


            <h3>Dafiti :: <small>Senior Software Engineer<br/>Sep 2012 to Feb 2014 · 1 yr 6 mo (São Paulo, Brasil)</small></h2>
            <p>
                Led key technical areas including tracking, order integration with ERP/BackOffice, self-service routines, and returns automation. Developed technical process maps in BPMN to support company expansion in Latin America. Managed communication between e-commerce and product distribution centers and played a key role in integrating post-sales systems with SAP and Salesforce. Led the development of post-sales communication platforms and product tracking. Implemented performance improvements during Black Friday 2013 to ensure seamless customer service without wait times.
                <br/>
                <i style="font-size:12px;">
                    Skills:
                    Git · Linux · MySQL · Database Management System (DBMS) · PHP
                    <br/>
                    <strong>
                    Bolean Search:
                    ("ERP/BackOffice" OR "Self-service ACCOUNT" OR "BPMN" OR "Product tracking" OR "Linux" OR "MySQL" OR "PHP" OR "Database Management System" OR "Black Friday")
                    </strong>
                </i>
            </p>
            <br/>
            <br/>
            <br/>

            <h4 style="text-align:center;">
                <a href="https://www.linkedin.com/in/eduardodestruti/" target="_blank" class="">
                See all in LinkedIn
                </a>
            </h4>

        </div>

    </div>

</div>




