
<div class="container">

    <div class="row">

        <div class="col-md-12">
            <table class="table" style="width:100%;">
                <tr>
                    <td style="width:50%;">
                        <h1>MBA</h1>
                        <p>
                            USP - Universidade de São Paulo
                            <br/>MBA Information Technology
                            <br/>2010 - 2012
                        </p>
                    </td>
                    <td style="width:50%;">
                        <h1>Bachelor</h1>
                        <p>
                            Universidade Presbiteriana Mackenzie
                            <br/>Bachelor of Information Systems
                            <br/>2003 - 2007
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-12">
            <h1>Courses</h1>
        </div>

        <div class="col-md-12">
            <table class="table">
                
                <tr style="height:220px;">
                    <td class="hidden-mobile" style="width:30%;">
                        <img src="/img/certs/MMH2R357HXRT.png" style="width:90%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>Duke - MySQL for Data Engineering</strong>
                            <br/>Issued Jan 2025
                            <br/><strong>Skills:</strong> Python Programming, Information Engineering, Linux, MySQL, Bash
                            <br/><i>Credential ID MMH2R357HXRT</i>
                            <br/><a href="https://www.coursera.org/account/accomplishments/verify/MMH2R357HXRT" target="_blank">https://www.coursera.org/account/accomplishments/verify/MMH2R357HXRT</a>
                        </p>
                    </td>
                </tr>
                
                <tr style="height:220px;">
                    <td class="hidden-mobile" style="width:30%;">
                        <img src="/img/certs/NOM9N8XSBMU0.png" style="width:90%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>IBM - Developing Back-End Apps with Node.js and Express</strong>
                            <br/>Issued Dec 2024
                            <br/><strong>Skills:</strong> NodeJs, Express, EJS, Linux
                            <br/><i>Credential ID NOM9N8XSBMU0</i>
                            <br/><a href="https://www.coursera.org/account/accomplishments/verify/NOM9N8XSBMU0" target="_blank">https://www.coursera.org/account/accomplishments/verify/NOM9N8XSBMU0</a>
                        </p>
                    </td>
                </tr>
                
                <tr style="height:220px;">
                    <td class="hidden-mobile" style="width:30%;">
                        <img src="/img/certs/GX2LWC58D9OC.png" style="width:90%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>Duke - Object-Oriented Programming in Python</strong>
                            <br/>Issued Dec 2024
                            <br/><strong>Skills:</strong> Software Engineering, Computer Programming, Python Programming, Object Oriented CSS, Inheritance Patterns
                            <br/><i>Credential ID GX2LWC58D9OC</i>
                            <br/><a href="https://www.coursera.org/account/accomplishments/verify/GX2LWC58D9OC" target="_blank">https://www.coursera.org/account/accomplishments/verify/GX2LWC58D9OC</a>
                        </p>
                    </td>
                </tr>
                
                <tr style="height:220px;">
                    <td class="hidden-mobile" style="width:30%;">
                        <img src="/img/certs/scrum-destruti.png" style="width:90%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>SCRUMstudy - Scrum Fundamentals Certified</strong>
                            <br/>Issued May 2018
                            <br/>Credential ID 625809
                        </p>
                    </td>
                </tr>
                
                <tr style="height:220px;">
                    <td class="hidden-mobile" style="width:30%;">
                        <img src="/img/certs/hubspot-destruti.png" style="width:90%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>HubSpot Sales Software</strong>
                            <br/>Issued May 2018
                        </p>
                    </td>
                </tr>

            </table>
        </div>

    </div>

</div>