
<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h1>Degrees</h1>
        </div>

        <div class="col-md-12">
            <table class="table">
                <tr>
                    <td style="width:50%;">
                        <h3>USP - Universidade de São Paulo</h3>
                        <p>
                            MBA Information Technology
                            <br/>2010 - 2012
                        </p>
                    </td>
                    <td style="width:50%;">
                        <h3>Universidade Presbiteriana Mackenzie</h3>
                        <p>
                            Bachelor of Information Systems
                            <br/>2003 - 2007
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-12">
            <h1>Courses</h1>
        </div>

        <div class="col-md-12">
            <table class="table">
                
                <tr>
                    <td style="width:30%;">
                        <img src="/img/certs/NOM9N8XSBMU0.png" style="width:90%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>IBM - Developing Back-End Apps with Node.js and Express</strong>
                            <br/>Issued Dec 2024
                            <br/>Credential ID NOM9N8XSBMU0
                            <br/><a href="https://www.coursera.org/account/accomplishments/verify/NOM9N8XSBMU0" target="_blank">https://www.coursera.org/account/accomplishments/verify/NOM9N8XSBMU0</a>
                        </p>
                    </td>
                </tr>
                
                <tr>
                    <td style="width:30%;">
                        <img src="/img/certs/GX2LWC58D9OC.png" style="width:90%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>Duke - Object-Oriented Programming in Python</strong>
                            <br/>Issued Dec 2024
                            <br/>Credential ID GX2LWC58D9OC
                            <br/><a href="https://www.coursera.org/account/accomplishments/verify/GX2LWC58D9OC" target="_blank">https://www.coursera.org/account/accomplishments/verify/GX2LWC58D9OC</a>
                        </p>
                    </td>
                </tr>
                
                <tr>
                    <td style="text-align:center;">
                        <img src="https://static.cdnlogo.com/logos/s/61/scrumstudy.svg" style="width:50%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>SCRUMstudy - Scrum Fundamentals Certified</strong>
                            <br/>Issued May 2018
                            <br/>Credential ID 625809
                        </p>
                    </td>
                </tr>
                
                <tr>
                    <td style="text-align:center;">
                        <img src="https://static.cdnlogo.com/logos/h/64/hubspot.svg" style="width:50%;text-align:center;" />
                    </td>
                    <td>
                        <p>
                            <strong>HubSpot Sales Software</strong>
                            <br/>Issued May 2018
                        </p>
                    </td>
                </tr>

            </table>
        </div>

    </div>

</div>